body {
    font-family: 'Lato', sans-serif;
}

figure.gallery__section {
    margin: 0 0 20px 0;
}

#menuWrapper {
    display: flex;
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}


#menuWrapper a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-size: 20px;
}

#menuWrapper a:hover {
    text-decoration:underline;
}

#logo {
    position: sticky;
    top: 80px;
    left: 20px;
    margin: 10px;
    width: 30px;
    border: solid 1px black;
    text-align: center;
}



#gallery {
    margin: 0 auto 10px;
    width:90%;
    column-count: 3;
}


.gallery__section {
    width: 360px;
    height: auto;
    position: relative;
    overflow: hidden;
}

.gallery__section  img{
    width: inherit;
    position:relative;
    display:inline-block;
    text-align:center;
}

.gallery__section--texto {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 99.5%;
    background: rgba(115,115,115,0.8);
    opacity: 0;
    transition: 300ms all;
}

.gallery__section--texto figcaption {
    position: relative;
    top: 50%;
    text-align: center;
    color: white;
}

.gallery__section:hover .gallery__section--texto {
    opacity: 1;
}

#infoContainer {
    display: grid;
    width: 80%;
    margin: 0 10%;
    grid-template-columns: 1fr 1fr;
}

#infoContainer h3 {
    font-weight: 400;
    font-size: 15px;
    width: 350px;
    line-height: 35px;
    margin: 0;
}

#infoContainer img {
    width: 550px;
}